<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/form.css">
    <title>Kursformul채r</title>
</head>
<body>
    <main>
        <h1>Kursformul채r</h1>
        <form method="post" action="/updateform">
            <fieldset>
                <legend>Uppdatera</legend>
                <div class="inputs">
                    <input type="text" name="formType" value="update_form" style="display: none;">
                    <input type="number" name="courseid" value="<%= formData.id || '' %>" style="display: none;">
                    <label>
                        <span>Kurskod:</span>
                        <input type="text" name="coursecode" id="coursecode" value="<%= formData.code || '' %>">
                    </label>
                    <label>
                        <span>Kursnamn:</span>
                        <input type="text" name="coursename" id="coursename" value="<%= formData.name || '' %>">
                    </label>
                    <label>
                        <span>Progression:</span>
                        <input type="text" name="progression" id="progression" value="<%= formData.progression || '' %>">
                    </label>
                    <label>
                        <span>L채nk:</span>
                        <input type="url" name="courseurl" id="courseurl" value="<%= formData.syllabus || '' %>">
                    </label> 
                </div>
                <div class="errors">
                    <% if (errors.length > 0) { %>
                       <% errors.forEach(error => { %>
                            <article>
                                <h2><%= error.name %></h2>
                                <p><%= error.message %></p>
                            </article>
                       <% }); %>
                    <% }%>
                </div>
                <label class="label-submit">
                    <span>Vill du uppdatera den h채r kursen?</span>
                    <input type="submit" name="submit" id="submit">
                </label>
            </fieldset>
        </form>
    </main>
</body>
</html>